.gallery-item {
  background-color: #cecece;
  width: 290px;
  height: 180px;
  border: 4px solid transparent;
  border-radius: 2px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.gallery-item-small {
  background-color: #cecece;
  width: 180px;
  height: 112px;
  border: 4px solid transparent;
  border-radius: 2px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.gallery-cart-item {
  background-color: #f2f2f2;
  width: calc((100% / 4) - 28px);
  height: 180px;
  border: solid;
  border-width: 0 1px 0 0;
  border-color: #cecece;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media screen and (max-width: 560px) {
  .gallery-cart-item {
    width: 300px;
  }
}

.gallery-item.selected {
  border-color: #55c591;
}

.gallery-item-button:hover .btnPhotoZoom {
  display: flex !important;
}
