.pagination {
  display: flex;
  flex-direction: row;
  text-align: center;
  list-style: none;
  margin: 0%;
  padding: 0%;
}

.pagination li {
  margin: 0 1px;
  display: flex;
  border: 1px solid #151515;
  border-radius: 4px;
}

.pagination li a {
  width: 50px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
}

.active {
  background-color: #fb1334;
  color: white;
}
